.DS_Store
.git/
.idea/
categorizePractice/myDataSets/inputFile/0
categorizePractice/myDataSets/inputFile/1
categorizePractice/myDataSets/inputFile/2
categorizePractice/myDataSets/martial/0
categorizePractice/myDataSets/martial/1
categorizePractice/myDataSets/martial/2