.DS_Store
.git/
.idea/
myDataSets/inputFile/0/
myDataSets/inputFile/1/
myDataSets/inputFile/2/d
myDataSets/martial/0/
myDataSets/martial/1/
myDataSets/martial/2/
myDataSets/mydatasets.npz
myDataSets/train.hdf5